// .section-home-footer {
//      position: sticky;
//      bottom: 0;
//      background-color: #ddd;
//      // display: flex;
//      // flex-direction: column;
//      // justify-content: center; /* Căn giữa theo chiều ngang */
//      // align-items: center; /* Căn giữa theo chiều dọc */
//      height: 100px;
//      .icon-footer {
//           display: flex;
//           gap: 2rem;
//      }
// }
.section-home-footer-container {
     // height: 100px;
     background-color: rgb(246, 245, 244);
     border-top: 1px solid #b4a7a7;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     color: white;
     .media-container {
          display: flex;
          justify-content: center;
          align-items: center;
          a {
               color: gray;
               background-color: white;
          }
     }
     .section-home-footer {
          height: 100%;

          .copyright-content {
               height: 100%;
               display: flex;
               justify-content: center; /* Căn giữa theo chiều ngang */
               align-items: center; /* Căn giữa theo chiều dọc */
          }
     }
}
